.textfield {
	position: relative;
    left: 600px;
}

.button {
	position: relative;
    left: 600px;
    background-color: #4C85C7; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.header {
	background-color: #4C85C7;
}

.subheader {
	color: white;
}